<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="header">

        <a href="/">
            <h1>Home</h1>
        </a>


        <a href="/signup">
            <h1>Signup</h1>
        </a>
        <a href="/login">
            <h1>LogIn</h1>
        </a>
    </div>

    <div class="main-container">
        <form onsubmit="handleLogin(event)" method="post">
            <h2>Forgot Password</h2>
            <label for="email">Email:
                <input type="email" name="email" , id="email" required />
            </label>

            <button type="submit">Login</button>
        </form>


        <script src="/js/forgotPass.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
    </div>
</body>

</html>