<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="header">
        <h1>Expanse tracker</h1>
        <a href="/login">
            <h2>Login</h2>
        </a>
        <a href="/signup">
            <h2>SignUp</h2>
        </a>
    </div>
    <div class="main-container">
        <button type="button" onclick="showList()">LeaderBoard</button>

        <div class="header">

            <h1>LeaderBoard List </h1>
            <table id="leader-list">

                <tr>
                    <td>User ID</td>
                    <td>Amount</td>
                    <td>Action Button</td>
                </tr>

            </table>
            <script src="/js/board.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
</body>

</html>